[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.0.8"
psycopg2 = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-hstore = "*"
yapf = "*"
email-hunter-python = "*"
clearbit = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-rest-swagger = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.6"
